@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
*{
    background-color: #e2daed;
}
h1 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    background-color: grey;

}

@import url('https://fonts.googleapis.com/css?family=Suranna&display=swap');
h2 {
font-family: 'Suranna', serif;
font-style: italic;
background-color: #d9d8a5
}

@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
h3 {
    font-family: 'Tangerine', cursive;
}

.center {
   
    text-align: center;
   
}